.title {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
  margin: 30px;
}

.form {
  padding: 20px;
  margin: auto;
  height: 25rem;
  width: 50%;
  position: relative;
  border-radius: 10px;
}
