.title {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
  margin: 30px;
}

.main {
  width: 100%;
  padding: 0px 50px 50px 50px;
}
